body {
    font-family: Arial, Helvetica, sans-serif;
}

.title_prd {
    text-align: center;
    background-image: url(/projectWeb/images/img_panner/background_3.webp);
    width: 100%;
    height: auto;
    padding: 30px;
}

.title_prd h2 {
    font-weight: bold;
    font-size: 50px
}

.navbar-nav {
    font-size: 18px;
    gap: 500px;
}

.navbar-nav a {
    height: 50px;
    background-color: rgb(238, 168, 168);
    border: 2px solid rgb(238, 168, 168);
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    /* Hiệu ứng chuyển tiếp */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-nav a:hover {
    background-color: antiquewhite;
    transform: scale(1.05);
    /* Phóng to khi hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    /* Tăng bóng khi hover */
    border-color: rgb(238, 168, 168);
}

.tbl {
    padding-top: 30px;
    text-align: center;
}

.table thead th {
    background-color: rgb(225, 140, 30);
    font-size: 20px;
}

.tbl {
    padding-top: 30px;
    text-align: center;
    overflow-x: auto;
}

table {
    width: 100%;
}

.deleteUser {
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(236, 188, 125);
    border: 2px solid rgb(236, 188, 125);
    color: #000000;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Hiệu ứng bóng cho nút */
}

.deleteUser:hover {
    background-color: antiquewhite;
    transform: scale(1.05);
    /* Phóng to khi hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    /* Tăng bóng khi hover */
    border: 2px solid #d4a05a;
    /* Thay đổi màu sắc viền khi hover */
}

@media (max-width: 768px) {

    table th,
    table td {
        font-size: 14px;
    }

    .navbar-nav .nav-link {

        text-align: center;
    }

    th:nth-child(4),
    td:nth-child(4),
    th:nth-child(5),
    td:nth-child(5),
    th:nth-child(7),
    td:nth-child(7) {
        display: none;
    }
}

@media (max-width: 576px) {

    table th,
    table td {
        font-size: 12px;
    }

    .navbar-nav .nav-link {
        text-align: center;
        font-size: 10px;
    }

    th:nth-child(8),
    td:nth-child(8) {
        display: none;
    }
}

#tble {
    font-size: 14px;
    font-weight: bold;
}

#tble td {
    border: 2px solid black;
}

.showCut {
    display: none;
}